/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;

  
}

.title, .information, .map-outer-container, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /* padding: 1em; */
  margin: 0.5em;
  height: 20%;
}

.title {
  max-height: 5%;
}

.title {
  background-color: mediumaquamarine;
  /* height: 10vh; */
}

.information {
  background-color: lightblue;
  /* height: 10vh; */

}

.map-outer-container {
  display: flex;
  /* background-color: coral; */
  padding: 0.5em 0em 0.5em 0em;
  /* min-height: 70vh; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column; */
  min-height: 60vh;
  padding: 0.5em 0em 0.5em 0em;
  
}

.leaflet-container {
  position: relative;
  min-height: 55vh;
  width: 90vw;
  padding: 0.7em;
  border: 10px double black;
  border-radius: 20px;
}

.footer {
  /* height: 5vh; */
  background-color: lightgrey;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  max-height: 5%;
  


}

/* Hide the details of the route */
.leaflet-routing-alternatives-container {
  display: none;
}

/* || MOBILE DEVICE LANDSCAPE  */
/* @media screen and (max-height: 320px) and (min-aspect-ratio: 7/4) {
  .leaflet-container {
    height: 50vh;
  }
} */