@import url(https://db.onlinewebfonts.com/c/ef37d5a2aade0e1cb69df8d3f5f2aa60?family=Rams+W01+Black);

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}



/* .navbar, */
.maps,
.rides,
.allmaps,
/* .map-outer-container, */
.mapslist {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /* padding: 1em; */
  margin: 0.5em;
  /* height: 20%; */
}

.title {
  max-height: 5%;
  cursor: pointer;
}

.title {
  background-color: mediumaquamarine;
  /* height: 10vh; */
}


/* Navbar and dropdown */

.navbar {
  margin-left: 275px; /* Maintain left margin */
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar > * {
  margin-right: 50px; /* Space between children */
}

.navbar > :last-child {
  margin-right: 0; /* No margin for the last child */
}


.navbar-public {
  display: flex;
  align-items: flex-start;
}

/* .admin-navbar {
  margin-left: auto;
} */

.dropdown-wrapper {
  position: relative;
  cursor: pointer;
  text-align: left;
}

.dropdown-wrapper:hover {
  color: #fc4c02;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 500;
  white-space: nowrap;
}

.dropdown button {
  padding: 10px 0px 10px 0px;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown button:first-child {
  padding-top: 25px; 
}

.dropdown button:hover {
  background-color: #ddd;
  color: #fc4c02;
}


.logout-button {
  cursor: pointer;
  position: fixed;
  right: 10px;

}

/* Styles for screens up to 425 pixels */
@media (max-width: 425px) {
  .dropdown-wrapper, .dropdown-wrapper button {
    font-size: 14px;
  }
}

/* Styles for screens between 425 and 768 pixels */
@media (min-width: 426px) and (max-width: 768px) {
  .dropdown-wrapper, .dropdown-wrapper button {
    font-size: 16px;
  }
}

/* Styles for screens larger than 768 pixels */
@media (min-width: 769px) {
  .dropdown-wrapper, .dropdown-wrapper button {
    font-size: 18px;
  }
  
}


.my-account {
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 80px;
}

/* //Navbar and dropwon */

.maps {
  background-color: lightgoldenrodyellow;
  /* height: 10vh; */
}

.rides {
  background-color: lightgoldenrodyellow;
  /* height: 10vh; */
  flex-direction: column;
}

.ridesform {
  display: flex;
  flex-direction: column;
}

.allmaps {
  background-color: goldenrod;
  /* height: 10vh; */

}

.mapslist {
  background-color: lightgreen;
  flex-direction: column;
}

.map-outer-container {
  display: flex;
  flex-direction: column;
  /* background-color: coral; */
  /* padding: 0.5em 0em 0.5em 0em; */
  /* min-height: 70vh; */
  /* height: 100%; */
  /* display: flex;
  flex-direction: column; */
  /* min-height: 60vh; */
  border: 1px solid black;
  border-radius: 20px;
  /* padding: 0em 1em 1em 1em; */
  padding: 20px;
  margin: 20px;
}

/* Delete last marker, delete all markers from map */

.deletebuttons {
  text-align: end;
  /* background-color: red; */
  padding: 0em 1em 1em 1em;
}

.leaflet-container {
  /* position: relative; */
  min-height: 35vh;
  /* width: 85vw; */
  padding: 0.7em;
  border-radius: 20px;

}




/* Hide the details of the route */
.leaflet-routing-alternatives-container {
  display: none;
}



.recbin {
  height: 1.5em;
  width: 1.5em;
  margin: 5px;

  display: inline-block;
  /* padding: 15px 15px; */
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  right: 0;
  top: 0;
  /* position: absolute;
  z-index: 1000; */
}




.time-picker {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.time-picker label {
  margin-bottom: 5px;
}

.time-picker input {
  width: 60px;
}



/* || MOBILE DEVICE LANDSCAPE  */
/* @media screen and (max-height: 320px) and (min-aspect-ratio: 7/4) {
  .leaflet-container {
    height: 50vh;
  }
} */






