@import url(https://db.onlinewebfonts.com/c/ef37d5a2aade0e1cb69df8d3f5f2aa60?family=Rams+W01+Black);

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* COLORS */

:root {
  --color-black: black;
  --color-white: white;
  --color0: #fc4c02;
  --color1: #e3d9c8; 
  --color3: green;
  --color4: rgba(252, 76, 3, 0.5);
  --color-red: red;

}


/* .navbar, */
.maps,
.rides,
.allmaps,
/* .map-outer-container, */
.mapslist {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  /* padding: 1em; */
  margin: 0.5em;
  /* height: 20%; */
}

.title {
  max-height: 5%;
  cursor: pointer;
  /* font-family: var(--font-family); */
}

.title {
  background-color: mediumaquamarine;
  /* height: 10vh; */
}

.rides-public-container {
  width: 100%;
  display: flex;
  flex-direction: column;

}


.maps {
  background-color: lightgoldenrodyellow;
  /* height: 10vh; */
}

.rides {
  background-color: lightgoldenrodyellow;
  /* height: 10vh; */
  flex-direction: column;
}

.ridesform {
  display: flex;
  flex-direction: column;
}

.allmaps {
  background-color: goldenrod;
  /* height: 10vh; */

}

.mapslist {
  background-color: lightgreen;
  flex-direction: column;
}


/* Delete last marker, delete all markers from map */

.deletebuttons {
  text-align: end;
  /* background-color: red; */
  padding: 0em 1em 1em 1em;
}

.leaflet-container {
  /* position: relative; */
  height: 50vh;
  /* min-height: 35vh; */
  /* width: 85vw; */
  padding: 0.7em;
  border-radius: 20px;

}




/* Hide the details of the route */
.leaflet-routing-alternatives-container {
  display: none;
}



.recbin {
  height: 1.5em;
  width: 1.5em;
  margin: 5px;

  display: inline-block;
  /* padding: 15px 15px; */
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  right: 0;
  top: 0;
  /* position: absolute;
  z-index: 1000; */
}




.time-picker {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.time-picker label {
  margin-bottom: 5px;
}

.time-picker input {
  width: 60px;
}



/* || MOBILE DEVICE LANDSCAPE  */
/* @media screen and (max-height: 320px) and (min-aspect-ratio: 7/4) {
  .leaflet-container {
    height: 50vh;
  }
} */