node_modules
.env
*.zip
package-lock.json
package.json

server/node_modules/.package-lock.json
server/node_modules/nodemon/README.md
server/node_modules/nodemon/lib/config/defaults.js
server/node_modules/nodemon/lib/monitor/run.js
server/node_modules/nodemon/lib/spawn.js
server/node_modules/nodemon/package.json
server/package-lock.json
server/package.json