.maps-public-container {
    /* border: 1px solid var(--color0); */
    border-bottom: 1px dotted var(--color0);
    /* border-radius: 10px; */
    padding: 10px;
    margin: 5px;
    color: var(--color0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.maps-public-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.maps-public-remove-button {
    /* margin: auto; */
    max-width: 200px;
    margin-top: 10px;
  
    color: var(--color-red);
    border: 1px solid var(--color-red);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .maps-public-remove-button:hover {
    background-color: var(--color-red);
    color: var(--color1);
  }

  .maps-public-add-button {
    /* margin: auto; */
    max-width: 200px;
    margin: 10px 0px 0px 5px;
  
    color: var(--color0);
    border: 1px solid var(--color0);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .maps-public-add-button:hover {
    background-color: var(--color0);
    color: var(--color1);
  }


  @media (min-width: 800px) {
    .maps-public-container {
      margin: 5px 10% 0% 10%;
    }
  }
  